.text-medium {
    font-size: 13px;
}
.list-group-item:hover{
    color: #337ab7;
    text-shadow:  0 0 1em #337ab7;
    cursor: pointer;
}
.z-input{
    width: 100% !important;
}
@media only screen and (max-width:600px) {
  .banner{
    background-image: url('/static/img/join_in.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    }
}

@media only screen  and (min-width:600px) {
  .banner{
    background-image: url('/static/img/join_in.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    }
}

@media only screen and (min-width: 768px) {
  .banner{
    background-image: url('/static/img/join_in.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    }
} 

@media only screen and (min-width:992px) {
  .banner{
    background-image: url('/static/img/join_in.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height:400px;
    }
}
@media only screen and (min-width:1200px) {
  .banner{
    background-image: url('/static/img/join_in.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 400px;
    }
}