{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block body %}
<div class="container mb-5">
    <div class="row">
        <div class="col-md-4 offset-md-1">
            <img src="{% static 'img/open.png' %}" class="mt-4">
            <h3 class="mt-4">Discover resturants based on type, cusine and category</h3>
        </div>
        <div class="col-md-4 offset-md-1 mt-3">
            <form method="POST">
            	{% csrf_token %}
            	<fieldset class="form-group">
            		<!-- <legend class="border-bottom mb-4">
            			Join Now
            		</legend> -->
            		{{form | crispy}}
            	</fieldset>
            	<div class="form-group">
            		<button class="btn btn-outline-primary" type="submit">Sign Up</button>
            	</div>
            </form>
            <div class="border-top pt-3">
            	<small class="text-muted">
            		Already Have Account ?<a href="{% url 'login' %}" class="ml-2">Sign In</a>
            	</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}
